.button {

  box-sizing: border-box;
  border: $input-border-width solid $input-border-colour;
  background: $input-colour;
  padding: $input-padding;
  border-radius: $input-border-radius;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  -webkit-app-region: no-drag;

  &:hover:enabled {
    background: $input-colour-hover;
  }

}

.actions_button-group {

  display: flex;
  flex-direction: row;
  align-items: center;

  .button {

    // Display button groups inline
    margin: 0;

    // Remove right border from all except last
    &:not(:last-of-type) { border-right-width: 0; }

    // Curve edges
    border-radius: 0;
    &:first-of-type {
      border-top-left-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
    }
    &:last-of-type {
      border-top-right-radius: $input-border-radius;
      border-bottom-right-radius: $input-border-radius;
    }

  }

}

.actions_breadcrumbs {

  // Import button group styles
  @extend .actions_button-group;

  // Add Arrow
  button {

    position: relative;
    margin-right: 50px;

    &:not(:first-of-type) {

      // Make space for arrow
      padding-left: calc(#{$input-padding} + #{$breadcrumb-arrow-length});

      // Remove left border
      border-left: none;

    }

    &:not(:last-of-type) {

      &:after, &:before {

        // Position arrow at end
        left: calc(100% - 1px);
        top: 0;
	      content: "";

        // Set size of arrow
        height: 100%;
        width: calc(#{$breadcrumb-arrow-length} - #{$input-border-width});
	      position: absolute;

        // Set pointer & cursor events
	      pointer-events: inherit;
        cursor: inherit;

        // Set zindex
        z-index: 2;

        // Set background of arrow shape
        background: inherit;

        // Define Arrow Shape
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);

      }

      &:before {
        background: $input-border-colour;
        top: -$input-border-width;
        left: 100%;
        height: calc(100% + #{$input-border-width * 2});
        width: $breadcrumb-arrow-length;
      }

    }

  }

}
