$button-padding: .5rem;
$button-colour: #f7f7f7;
$button-colour-hover: darken(#f7f7f7, 5%);
$button-border-radius: 3px;
$button-border-colour: darken(#f7f7f7, 25%);;
$button-border-width: 1px;
$breadcrumb-arrow-length: 10px;

.button {

  box-sizing: border-box;
  border: $button-border-width solid $button-border-colour;
  background: $button-colour;
  padding: $button-padding;
  border-radius: $button-border-radius;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  -webkit-app-region: no-drag;

  &:hover:enabled {
    background: $button-colour-hover;
  }

}

.actions_button-group {

  .button {

    // Display button groups inline
    display: inline-block;
    margin: 0;
    margin-left: -4px;
    &:first-of-type { margin-left: 0; }

    // Remove right border from all except last
    &:not(:last-of-type) { border-right-width: 0; }

    // Curve edges
    border-radius: 0;
    &:first-of-type {
      border-top-left-radius: $button-border-radius;
      border-bottom-left-radius: $button-border-radius;
    }
    &:last-of-type {
      border-top-right-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;
    }

  }

}

.actions_breadcrumbs {

  // Import button group styles
  @extend .actions_button-group;

  // Add Arrow
  button {

    position: relative;
    margin-right: 50px;

    &:not(:first-of-type) {

      // Make space for arrow
      padding-left: calc(#{$button-padding} + #{$breadcrumb-arrow-length});

      // Remove left border
      border-left: none;

    }

    &:not(:last-of-type) {

      &:after, &:before {

        // Position arrow at end
        left: calc(100% - 1px);
        top: 0;
	      content: "";

        // Set size of arrow
        height: 100%;
        width: calc(#{$breadcrumb-arrow-length} - #{$button-border-width});
	      position: absolute;

        // Set pointer & cursor events
	      pointer-events: inherit;
        cursor: inherit;

        // Set zindex
        z-index: 2;

        // Set background of arrow shape
        background: inherit;

        // Define Arrow Shape
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);

      }

      &:before {
        background: $button-border-colour;
        top: -$button-border-width;
        left: 100%;
        height: calc(100% + #{$button-border-width * 2});
        width: $breadcrumb-arrow-length;
      }

    }

  }

}
