// Input
$input-padding: .5rem;
$input-colour: #f7f7f7;
$input-colour-hover: darken(#f7f7f7, 5%);
$input-border-radius: 3px;
$input-border-colour: darken(#f7f7f7, 25%);;
$input-border-width: 1px;

// Breadcrumbs
$breadcrumb-arrow-length: 10px;
